.nav-list{
    background-color: #000;
    color: #fff;
    border: 1px solid #ccc;
}
.nav-list>div{
    text-align: center;
    cursor: pointer;
}
.fuwu-li{
    text-align: center;
}
.anli-li{
    text-align: center;
}